server:
  port: 8977

spring:
  application:
    name: cloud-gateway
  cloud:
    nacos:
      discovery:
        server-addr: http://10.0.0.7:8848
        group: CloudDept
      config:
        server-addr: http://10.0.0.7:8848
        file-extension: yaml
        group: CloudDept
        import-check.enabled: false
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: dept-provider_route
#          uri: http://localhost:8001 # because of unknownHostException with restTemplate
          uri: lb://dept-provider
          predicates:
            - Path=/dept/** # will be appended to uri

        - id: dept-consumer_route #payment_route    #路由的ID，没有固定规则但要求唯一，建议配合服务名
#          uri: http://localhost:81          #匹配后提供服务的路由地址
          uri: lb://cloud-consumer-service #匹配后提供服务的路由地址
          predicates:
            - Path=/consumer/dept/**