server:
  port: 81

spring:
  application:
    name: cloud-consumer-service
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
    nacos:
      discovery:
        server-addr: http://10.0.0.7:8848
        group: CloudDept
      config:
        server-addr: http://10.0.0.7:8848
        file-extension: yaml
        group: CloudDept
        import-check.enabled: false

#management:
#  endpoint:
#    health:
#      show-details: always
#  endpoints:
#    web:
#      exposure:
#        include: health
#  health:
#    ratelimiters:
#      enabled: true

resilience4j:
  circuitbreaker:
    instances:
      dept-provider:
        failureRateThreshold: 50
        waitDurationInOpenState: 1000
        ringBufferSizeInClosedState: 5
        ringBufferSizeInHalfOpenState: 3
  ratelimiter:
    instances:
      inst-ratelimiter:
        limitForPeriod: 3
        limitRefreshPeriod: 2s
        timeoutDuration: 100ms
  retry:
    instances:
      dept-provider:
        maxAttempts: 3
        waitDuration: 500ms
