server:
  port: 81

spring:
  application:
    name: cloud-consumer-service

eureka:
  client:
    service-url:
      defaultZone: http://localhost:7001/eureka/
  instance:
    instance-id: microservice-consumer-81
    prefer-ip-address: true